/* Index Page*/
.border-all{
  border:5px solid black;
  padding: 15px;
}

.border-day-one{
background-color:#549F93;
}

.border-day-two{
background-color:#9FAF90;
}

.border-day-three{
background-color:#E2B1B1;
}

.border-day-four{
background-color:#E2C2FF;
}
/* About Me*/
.about-background {
  background-color: #549F93;
  border: 2px solid black;
}

.align {
  text-align: center;
}

.banner {
  background:#258EA6;
  padding-bottom: 5px;
}

.body-text {
  font-size: 20px;
  padding: 10px;
}

.column1{
  background-color:#549F93;
  width: 960px;
  float:left;
  padding: 5px;
  margin-left:10px;
}
.column2{
  background-color:#549F93;
  width: 960px;
  float:right;
  padding: 5px;
  margin-right:10px;
}

.footer-background{
  background-color:#E2B1B1
}

.header {
  text-align: center;
  font: arial;
  font-size: 60px;
  color:white;
  padding: 40px;
}

.img-top {
  width:250px;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px black;
  transform: rotate(90deg);
}

.img-mae {
  width:250px;
  float:left;
  padding: 10px;
}

.img-standup{
  width:700px;
  float:top;
  padding:10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-hop-men {
  width: 350px;
  float:right;
  padding: 10px;
}

.index-padding {
  padding: 80px;
}

.italic {
  font-style: oblique;
}

.ol-list {
  list-style-type: upper-alpha;
  border-left: 10px;
}

.sub-header {
  font-size: 30px;
  text-align: center;
  color:white;
  padding: 15px;
}
