.border-day-one{
border:solid 2px black;
background-color:#FAFF81;
}

.border-day-two{
border:solid 2px black;
background-color:#EFF1C5;
}

.border-day-three{
border:solid 2px black;
background-color:#035E7B;
}

.border-day-four{
border:solid 2px black;
background-color:#002E2C;
}

.margin-box {
  margin-left: 500px;
}
