.border-day-one{
background-color:#549F93;
}

.border-day-two{
background-color:#9FAF90;
}

.border-day-three{
background-color:#E2B1B1;
}

.border-day-four{
background-color:#E2C2FF;
}
/* About Me Style Sheet
*/
.banner {
  background:#258EA6;
  padding-bottom: 5px;
}

.header {
  text-align: center;
  font: arial;
  font-size: 60px;
}

.img-top {
  width:150px;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.sub-header {
  font-size: 30px;
  text-align: center;
}
